.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.login-container {
  z-index: 1;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 150px;
  margin-right: 100px;
  
}
.login_textarea{
  flex: 1;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #999595;
  color:black;
  max-height: auto;
  margin-top: 4px !important;
  /* width: 500px !important; */
}
.login_input{
  flex: 1;
  padding: 8px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #999595;
  margin-right: 8px;
  color:black;
  max-height: auto;
  margin-bottom: 4px;
  /* width: 500px; */
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* Chat window header styles */
.chat-window-header.default-theme-window-header {
  background: linear-gradient(
    226.1deg,
    rgb(51, 102, 255) 0%,
    rgb(51, 102, 255) 101.24%
  );
}

.previewText {
  display: none;
  color: rgb(255, 255, 255);
}

/* Icons styles */
.icons {
  padding-right: 5px;
  display: none;
}
.icon-Close-Chat-new {
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(
    45deg,
    rgb(51, 102, 255),
    rgb(51, 102, 255)
  );
}

/* Agent profile image styles */
.agent-profile-img {
  background-image: url("https://file.revechat.com/bot/avatar/7871954-1cab1798-623e-4183-a039-8bcc718efe7f.gif");
}

/* Agent profile image modern styles */
.agent-profile-img-modern {
  display: none;
}

/* Support agent name styles */
.support-agent-name {
  color: rgb(51, 102, 255);
}
.support-agent-designation {
  padding-left: 10px;
}
