.wrapper {
  /* position: relative; */
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  /* border: 1px solid antiquewhite; */
  
}

.login-container {
  /* z-index: 9999; */
  position: absolute;
}
.login_textarea{
  flex: 1;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #999595;
  color:black;
  max-height: auto;
  margin-top: 4px !important;
  width: 198px !important;
}
.login_input{
  flex: 1;
  padding: 8px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #999595;
  margin-right: 8px;
  color:black;
  max-height: auto;
  margin-bottom: 4px;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container button {
  padding: 10px 20px;
  /* margin-top: 10px; */
  border: none;
  border-radius: 4px;
  background-color: #bbb4b4;
  color: rgb(30, 29, 29);
  cursor: pointer;
}



.paragraph-div{
  /* margin-top: 12px; */
  margin-bottom: 10px;
}
.arrow-icon {
  position: relative;
  top: 10px; /* Adjust the positioning based on your styling */
  right: 22px; /* Adjust the positioning based on your styling */
  cursor: pointer;
  color: #888; /* Adjust the color based on your styling */
  pointer-events: none; /* Ensure that the icon does not interfere with textarea events */
}
.agent-info-details{
  color: #bbb4b4;
  /* padding: 8px; */
  color: rgb(30, 29, 29);
  margin-left: 10px;
}


.previewText {
  display: none;
  color: rgb(255, 255, 255);
}

/* Icons styles */
.icons {
  padding-right: 5px;
  display: none;
}
.icon-Close-Chat-new {
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(
    45deg,
    rgb(51, 102, 255),
    rgb(51, 102, 255)
  );
}






